{{- /* Comments area start */ -}}
<script src="https://giscus.app/client.js"
        data-repo="xuchengpeng/xuchengpeng.github.io"
        data-repo-id="R_kgDONK0l_w"
        data-category="Comments"
        data-category-id="DIC_kwDONK0l_84Cj_-p"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{{- /* Comments area end */ -}}